<form>
    <div class="row mb-5">
        <div class="col form-floating">
            <input type="text" class="form-control" id="firstname" placeholder=" " required>
            <label for="firstname">First name</label>
        </div>
        <div class="col form-floating">
            <input type="text" class="form-control" id="lastname" placeholder=" " required>
            <label for="lastname">Last name</label>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="name" placeholder=" " readonly>
        <label for="name">Email </label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder=" " required>
        <label for="password">Password</label>
    </div>

    <!-- Submit Button -->
    <div>
        <button type="submit" class="btn btn-primary form-control">Submit</button>
    </div>
    <div class="text-center mt-5">
        <p>Already have an account? <a href="#" class="text-decoration-none">Log in here</a></p>
    </div>
</form>