<div class="container">
    <div *ngIf="user_feedback == null">
        <h1>Nothing Here</h1>
    </div>
    <div *ngIf="user_feedback != null" class="mt-2">
        <h2>Your Feedback</h2>
        <br><br>
        @for (feedback of user_feedback; track feedback.id) {
        <h3>AI Prompt: {{ feedback.suggestionPackage?.userPrompt }}</h3>
        <p>Timestamp: {{ feedback.suggestionPackage?.timestamp }}</p>
        <p>{{ feedback.comment }}</p>
        <p>Rating: {{ feedback.rating }} / 5</p>
        <hr>   
        }
    </div>
</div>