<div id="app-footer">
    <footer class="bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Streamsage is an AI powered movie recommendation app for when you just don't know what to watch.</p>
                </div>
                <div class="col-md-4">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Attributions</h5>
                    <img src="https://cdn.brandfetch.io/idsKuG8icw/theme/light/logo.svg?c=1dxbfHSJFAPEGdCLU4o5B"  style="height: 50px; max-width: 100%; object-fit: contain;"/>
                    <br>
                    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"  style="height: 50px; max-width: 100%; object-fit: contain;"/>
                 
                </div>
            </div>
        </div>
    </footer>
</div>