<nav class="navbar navbar-expand-lg" id="app-navbar" style="background-color: #793BE6;">
    <div class="container-fluid">
        <a class="navbar-brand" id="brand-logo" href="/">
            Streamsage
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent navcol-1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!authService.isLoggedIn()" href="/login"
                    style="padding-right: 20px;">Login</a>

                <div 
  ngbDropdown 
  class="d-inline-block position-relative" 
  *ngIf="authService.isLoggedIn()" 
  style="padding-right: 20px;"
>
  <a type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
    Account
  </a>
  <div 
    ngbDropdownMenu 
    aria-labelledby="dropdownBasic1" 
    class="dropdown-menu dropdown-menu-end"
    style="position: absolute;"
  >
    <button ngbDropdownItem>Settings</button>
    <button ngbDropdownItem (click)="logout()">Logout</button>
  </div>
</div>
            </li>
        </ul>
    </div>
</nav>