<div class="d-flex justify-content-center align-items-center vh-100">

    <form (ngSubmit)="onSubmit()">
        <div class="row mb-5">
            <div class="col form-floating">
                <input type="text" class="form-control" id="firstname" placeholder=" " name="firstName"  [(ngModel)]="user.firstName" required>
                <label for="firstname">First name</label>
            </div>
            <div class="col form-floating">
                <input type="text" class="form-control" id="lastname" placeholder=" " name="lastName"  [(ngModel)]="user.lastName" required>
                <label for="lastname">Last name</label>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder=" " name="email"  [(ngModel)]="user.email" required>
            <label for="email">Email </label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="old_password" placeholder=" " name="old_password" required>
            <label for="password">Old Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder=" " name="password"  [(ngModel)]="user.password" required>
            <label for="password">New Password</label>
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
 
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{errorMessage}}
        </div>
    </form>
</div>